@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.blogHero {
  padding-top: clamp(80px, 15vw, 180px);
  padding-bottom: clamp(60px, 8vw, 100px);

  .title {
    font-size: clamp(3rem, 5vw, 68px);
    text-transform: uppercase;
    font-weight: 800;
    line-height: 0.85;
    margin: 0 0 80px 0;
    text-align: center;
    font-family: $font-monument-black;
    @include mq-max("2xl") {
      margin-bottom: $space-12;
    }
  }

  .description {
    font-family: $font-monument-wide;
    font-size: clamp(2rem, 2.2vw, 38px);
    text-align: center;
    line-height: 1.2;
    margin-top: $space-7;
    margin-bottom: $space-20;
    letter-spacing: -0.02em;
    font-weight: 400;
    width: 100%;
    max-width: 100%;
    
    @include mq-max("2xl") {
      margin-top: $space-4;
      margin-bottom: $space-12;
    }

    .word {
      opacity: 0.2;
      display: inline-block;
      white-space: pre;
      transition: opacity 0.3s ease-out;

      &.active {
        opacity: 1;
      }
    }

    @include mq-max("lg") {
      font-size: 5vw;
    }

    @include mq-max("md") {
      font-size: 28px;
      margin-bottom: $space-8;
    }
  }
}
