// --- FONTS ---
$font-monument-normal: var(--font-monument-normal), sans-serif;
$font-monument-wide: var(--font-monument-wide), sans-serif;
$font-monument-black: var(--font-monument-black), sans-serif;

// --- BORDERS ---
$border-0: 0px;
$border-1: 1px;
$border-2: 2px;
$border-4: 4px;
$border-8: 8px;

$rounded-none: 0px;
$rounded-sm: 2px;
$rounded: 4px;
$rounded-md: 6px;
$rounded-lg: 8px;
$rounded-xl: 12px;
$rounded-2xl: 16px;
$rounded-3xl: 24px;
$rounded-full: 9999px;

// --- COLORS ---
$color-noir-svgs: #060606;
$color-blanc-svgs: #f6f6f6;
$color-vert: #96e91e;
$color-vert-pomme: #efff9b;
$color-orange: #ff902e;
$color-rouge: #f22d19;
$color-rose: #fea3e0;
$color-lilas: #d8d0ff;
$color-bleu: #0f0fca;
$color-gris: #a2a2a2;
$color-gris-fonce: #5e5e5e;

// --- SIZING ---
$size-0: 0px;
$size-px: 1px;
$size-0-5: 2px;
$size-1: 4px;
$size-1-5: 6px;
$size-2: 8px;
$size-2-5: 10px;
$size-3: 12px;
$size-3-5: 14px;
$size-4: 16px;
$size-5: 20px;
$size-6: 24px;
$size-7: 28px;
$size-8: 32px;
$size-9: 36px;
$size-10: 40px;
$size-11: 44px;
$size-12: 48px;
$size-14: 56px;
$size-16: 64px;
$size-20: 80px;
$size-24: 96px;
$size-28: 112px;
$size-32: 128px;
$size-36: 144px;
$size-40: 160px;
$size-44: 176px;
$size-48: 192px;
$size-52: 208px;
$size-56: 224px;
$size-60: 240px;
$size-64: 256px;
$size-72: 288px;
$size-80: 320px;
$size-96: 384px;

// --- SPACING ---
$space-0: 0px;
$space-px: 1px;
$space-0-5: 2px;
$space-1: 4px;
$space-1-5: 6px;
$space-2: 8px;
$space-2-5: 10px;
$space-3: 12px;
$space-3-5: 14px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;
$space-11: 44px;
$space-12: 48px;
$space-14: 56px;
$space-16: 64px;
$space-20: 80px;
$space-24: 96px;
$space-28: 112px;
$space-32: 128px;
$space-36: 144px;
$space-40: 160px;
$space-44: 176px;
$space-48: 192px;
$space-50: 200px;
$space-52: 208px;
$space-56: 224px;
$space-60: 240px;
$space-62: 248px;
$space-64: 256px;
$space-72: 288px;
$space-80: 320px;
$space-96: 384px;
