@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.projectItem {
  display: block;
  text-decoration: none;
  color: inherit;
  @include transition-standard;

  @include mq("lg") {
    &:hover {
      cursor: none;
    }
  }
  .imageWrapper {
    aspect-ratio: 452 / 632;
  }
}

.imageWrapperInner {
  position: absolute;
  width: 100%;
  height: 120%;
  top: -10%;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  background-color: #f5f5f5;
  @include transition-standard;
  margin-bottom: 20px;
  @include mq-max("md") {
    aspect-ratio: 1 !important;
  }

  img {
    @include transition-standard;
  }
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.content {
  display: flex;
  gap: 12px;
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  min-width: 40px;
  @include mq-max("2xl") {
    width: 35px;
    height: 35px;
    min-width: 35px;
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.client {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-transform: inherit;
}

.title {
  margin: 0;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 400;
  text-transform: inherit;
}

.title, .client {
  font-family: $font-monument-normal;
}
