@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.maskWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.svgMask {
  width: 100%;
  height: 100%;
  display: block;
  
  // Important for crisp transitions
  shape-rendering: crispEdges;
}
