@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.contactSection {
  padding: $space-62 0;
  background-color: #f7f7f7; // Fallback subtle background color that matches visual
  color: $color-noir-svgs;

  @include mq-max("2xl") {
  padding: $space-44 0;
  }

  @include mq-max("xl") {
  padding: $space-32 0;
  }

  @include mq-max("lg") {
    padding: $space-20 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: $space-52;
  align-items: flex-start;

  @include mq-max("2xl") {
    gap: $space-20;
  }

  @include mq-max("lg") {
    grid-template-columns: 1fr;
    gap: $space-16;
  }
  @include mq-max("md") {
    gap: $space-10;
  }
}

.leftCol {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 0;
  margin-bottom: $space-6;

  @include mq-max("lg") {
    margin-bottom: $space-8;
  }
  @include mq-max("md") {
    margin-bottom: $space-6;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 610 / 700;
  overflow: hidden;
  max-width: 610px;

  img {
    height: 120% !important;
    top: -10% !important;
    width: 100%;
    object-fit: cover;
    will-change: transform;
  }
}

.rightCol {
  display: flex;
  flex-direction: column;
}

.description {
  font-family: $font-monument-wide;

  line-height: 1.35;
  margin-bottom: $space-12;
  margin-top: 0;
  p {
    font-size: 30px;
    @include mq-max("2xl") {
      font-size: 26px;
    }
    @include mq-max("xl") {
      font-size: 20px;
    }
    @include mq-max("md") {
      font-size: 18px;
    }
  }
  @include mq-max("md") {
    margin-bottom: $space-8;
  }
}

.buttonGroup {
  display: flex;
  gap: $space-10;
  flex-wrap: wrap;

  @include mq-max("md") {
    gap: $space-4;
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }
}
