@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.titreTexte {
  padding-top: $space-32;
  padding-bottom: $space-32;

  @include mq-max("2xl") {
    padding-top: $space-24;
    padding-bottom: $space-24;
  }

  @include mq-max("lg") {
    padding-top: $space-14;
    padding-bottom: $space-14;
  }

  @include mq-max("md") {
    padding-top: $space-12;
    padding-bottom: $space-12;
  }
}

.inner {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  gap: $space-40;
  align-items: start;

  @include mq-max("lg") {
    grid-template-columns: 1fr;
    gap: $space-16;
  }

  @include mq-max("lg") {
    grid-template-columns: 1fr;
    gap: $space-8;
  }
}

.title {
  font-size: clamp(24px, 3vw, 58px);
  line-height: 1.1;
  margin: 0;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  gap: $space-6;
}

.innerWithImage {
  grid-template-columns: 40% 1fr 373px 30px auto;
  column-gap: 0;
  align-items: flex-start;

  .title { grid-column: 1; }
  .imageWrapper { grid-column: 3; }
  .body { grid-column: 5;
  width: 100%;
max-width: 520px  }

  @include mq-max("lg") {
    grid-template-columns: 1fr;

    .title,
    .imageWrapper,
    .body { grid-column: 1; }
  }
}

.imageWrapper {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 373 / 326;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
