@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.fullWidthImage {
  width: 100%;
  background-color: transparent;
}

.imageWrapper {
  position: relative;
  width: 100%;
  // Aspect ratio 1840 / 783
  aspect-ratio: 1840 / 783;
  overflow: hidden;
  //border-radius: 4px; // Subtle rounding for a premium feel

  @include mq-max("md") {
    aspect-ratio: 16 / 9; // Easier to read on mobile
  }

  img {
    position: absolute;
    width: 100%;
    height: 120%; // Extra height for parallax movement
    top: -10%; // Starting offset
    left: 0;
    object-fit: cover;
    will-change: transform;
  }
}
