@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.agenceHero {
  padding-top: 250px;
  padding-bottom: $space-32;
  background-color: transparent;

  @include mq-max("2xl") {
    padding-top: $space-40;
  }

  @include mq-max("md") {
    padding-top: $space-24;
    padding-bottom: $space-8;
  }
}

.title {
  font-family: $font-monument-wide;
  font-size: 38px;
  line-height: 1.25;
  margin-top: $space-7;
  margin-bottom: $space-28;
  font-weight: 400;
  max-width: 95%;
  margin-top: $space-3;
  @include mq-max("2xl") {
    margin-top: $space-4;
    font-size: 34px;
    margin-bottom: $space-12;
  }

  .word {
    opacity: 0.2;
    display: inline-block;
    white-space: pre;
    transition: opacity 0.3s ease-out;

    &.active {
      opacity: 1;
    }
  }

  @include mq-max("lg") {
    font-size: 5vw;
  }

  @include mq-max("md") {
    font-size: 26px;
    margin-bottom: $space-8;
  }
}

.identiteGrid {
  border-top: 1px solid $color-noir-svgs;
  padding-top: $space-4;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 315px));
  justify-content: space-between;
  gap: $space-8;
  margin-bottom: $space-28;

  @include mq-max("2xl") {
    gap: $space-20;
    margin-bottom: $space-12;
  }

  @include mq-max("lg") {
    grid-template-columns: repeat(2, 1fr);
    gap: $space-12;
  }

  @include mq-max("md") {
    grid-template-columns: 1fr;
    gap: $space-8;
    margin-bottom: $space-8;
  }
}

.identiteDefinition {
  display: flex;
  flex-direction: column;
  gap: $space-3;
}

.identiteItem {
  display: flex;
  flex-direction: column;
}

.identiteContent {
  display: flex;
  flex-direction: column;
  margin-top: $space-7;
  gap: $space-3;

  p {
    font-family: $font-monument-normal;
    font-size: var(--font-size-body);
    line-height: 1.4;

    @include mq-max("2xl") {
      font-size: 14px;
    }
  }
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1840 / 748;
  position: relative;
  border-radius: $rounded-lg;
  overflow: hidden;

  img {
    height: 120% !important;
    top: -10% !important;
    width: 100%;
    object-fit: cover;
  }

  @include mq-max("md") {
    border-radius: $rounded-md;
  }
}
