@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.agenceHero {
  padding-top: 200px;
  padding-bottom: $space-16;
  background-color: transparent;

  @include mq-max("2xl") {
    padding-top: $space-40;
  }

  @include mq-max("md") {
    padding-top: $space-24;
    padding-bottom: $space-8;
  }
}

.title {
  font-family: $font-monument-wide;
  font-size: 38px;
  line-height: 1.25;
  margin-top: $space-7;
  margin-bottom: $space-20;
  font-weight: 400;
  max-width: 95%;
  margin-top: $space-3;
  @include mq-max("2xl") {
    margin-top: $space-4;
    font-size: 34px;
    margin-bottom: $space-12;
  }

  .word {
    opacity: 0.2;
    display: inline-block;
    white-space: pre;
    transition: opacity 0.3s ease-out;

    &.active {
      opacity: 1;
    }
  }

  @include mq-max("lg") {
    font-size: 5vw;
  }

  @include mq-max("md") {
    font-size: 26px;
    margin-bottom: $space-8;
  }
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1840 / 748;
  position: relative;
  border-radius: $rounded-lg;
  overflow: hidden;

  img {
    height: 120% !important;
    top: -10% !important;
    width: 100%;
    object-fit: cover;
  }

  @include mq-max("md") {
    border-radius: $rounded-md;
  }
}
