@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr 462px;
  gap: 320px;
  align-items: start;
  justify-content: space-between;
  padding-right: 115px;

  @include mq-max("2xl") {
    padding-right: 0;
    grid-template-columns: 1fr 400px;
    gap: 160px;
  }

  @include mq-max("xl") {
    grid-template-columns: 1fr 360px;
    gap: $space-16;
  }

  @include mq-max("lg") {
    grid-template-columns: 1fr;
    gap: $space-20;
  }

  @include mq-max("md") {
    gap: $space-12;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: $space-24;

  @include mq-max("2xl") {
    margin-bottom: $space-16;
  }

  @include mq-max("md") {
    margin-bottom: $space-12;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: $space-20;

  @include mq-max("md") {
    gap: $space-12;
  }
}

.item {
  display: flex;
  flex-direction: column;
}

.itemHeader {
  display: flex;
  align-items: flex-start;
  gap: $space-3;
  margin-bottom: $space-10;

  @include mq-max("2xl") {
    margin-bottom: $space-6;
  }
}

.itemIndex {
  color: #000;
  font-size: 27px;
  font-weight: 400;
  display: flex;
  line-height: 1.35;

  @include mq-max("2xl") {
    font-size: 24px;
    margin-top: 4px;
  }
}

.itemTitle {
  font-weight: 400;
}

.itemDescription {
  display: flex;
  flex-direction: column;
  gap: $space-6;

  p {
    font-family: $font-monument-normal;
    font-size: var(--font-size-body);
  }
}

.imageWrapper {
  position: sticky;
  top: 120px;
  width: 100%;
  aspect-ratio: 231 / 346;
  overflow: hidden;
  max-width: 100%;

  @include mq-max("lg") {
    position: relative;
    top: 0;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
  }

  @include mq-max("md") {
    order: -1;
    margin: 0;
    aspect-ratio: 4 / 5;
  }
}
