@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.agenceStaff {
  padding-top: $space-32;
  padding-bottom: $space-64;
  @include mq-max("2xl") {
    padding-top: $space-24;
    padding-bottom: $space-32;
  }

  @include mq-max("md") {
    padding-top: $space-16;
    padding-bottom: $space-16;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include mq-max("lg") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq-max("md") {
      grid-template-columns: 1fr;
    }
  }

  .card {
    text-align: center;
    cursor: pointer;

    .imageContainer {
      position: relative;
      aspect-ratio: 445 / 538;
      overflow: hidden;
      margin-bottom: $space-10;

      .hoverVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        pointer-events: none;
      }

      &:hover {
        img {
          opacity: 0;
        }
        .hoverVideo {
          opacity: 1;
        }
      }
    }

    .name {
      font-family: $font-monument-wide;
      font-size: 30px;
      line-height: 1.2;

      @include mq-max("2xl") {
        font-size: 20px;
      }
    }

    .baseline {
      font-size: 18px;
      color: $color-gris-fonce;

      @include mq-max("2xl") {
        font-size: 16px;
      }
    }
  }
}
