@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.page {
  // 80px entre TextRevealSection (1) et FullWidthImage (2)
  > :global(section:nth-child(1)) {
    padding-bottom: 0;
  }
  > :global(section:nth-child(2)) {
    padding-top: 80px;
  }

  // 256px au-dessus de la section du milieu (TitreTexte)
  > :global(section:nth-child(3)) {
    padding-top: 256px;
  }

  // 256px en-dessous de la section du milieu (TexteImage)
  > :global(section:nth-child(4)) {
    padding-bottom: 256px;
  }
}
