@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.page {
  > :global(section:first-child) {
    padding-top: $space-64;

    @include mq-max("2xl") {
      padding-top: $space-40;
    }

    @include mq-max("lg") {
      padding-top: $space-28;
    }

    @include mq-max("md") {
      padding-top: $space-20;
    }
  }
}
