@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.projectsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 250px 0 80px;

  @include mq-max("md") {
    padding: 120px 0 60px;
  }
}

.title {
  text-align: center;
  font-family: $font-monument-black;
  font-size: clamp(40px, 5vw, 68px);
  font-weight: 800;
  line-height: 0.85;
  text-transform: uppercase;
  margin: 0;

  @include mq-max("lg") {
    font-size: 8rem;
  }

  @include mq-max("md") {
    font-size: 4rem;
  }
}
