@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: $space-10;
}

.title {
  font-family: $font-monument-wide;
  font-size: clamp(32px, 5vw, 44px);
  line-height: 1.25;
  font-weight: 400;
  margin: 0;

  @include mq-max("2xl") {
    font-size: clamp(28px, 5vw, 40px);
  }
}

.viewAllDesktop {
  @include mq-max("md") {
    display: none;
  }
}

.viewAllMobile {
  margin-top: $space-10;
  display: none;
  @include mq-max("md") {
    display: flex;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-8;

  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    gap: $space-10;
  }
}

.gridWrapper {
  position: relative;
  width: 100%;
}

.customCursor {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background: transparent;
  font-family: $font-monument-normal;
  mix-blend-mode: difference;
  font-size: 20px;
  text-transform: uppercase;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.5s ease;

  .cursorText {
    transform: translateY(100%);
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    line-height: 1;
  }

  &.visible {
    opacity: 1;
    .cursorText {
      transform: translateY(0%);
    }
  }

  @include mq-max("lg") {
    display: none;
  }
}

.grid4 {
  @include mq("sm") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq("lg") {
    grid-template-columns: repeat(4, 1fr);
    gap: $space-8;
  }
}
